<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
    <a href="/" class="navbar-brand">GuiaPress</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categories</a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles" class="nav-link">Articles</a>
        </li>
    </ul>
</nav>